{% extends 'core/base.html' %}

{% load static %}

{% block title %}Nosotros{% endblock %}

{% block content %}

<!-- Page Header-->
        
        <header class="nosotros" style="background-image: url({% static 'core/assets/img/about-bg.jpeg' %})">
        </header>

        <!-- titulo-->
        <section class="page-section" id="valores">
            <div class="container px-4 px-lg-5">
                <h2 class="text-center mt-0">Nosotros</h2>
                <hr class="divider" />
            </div>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Empresa dedicada a brindar el servicio de masajes y tratamientos faciales tanto a hombres y mujeres</p>
                        <p>Centro especializado en brindar terapias relajantes y tratamientos estéticos, para tal fin
                            se cuenta con terapistas profesionales con experiencia que brindan un servicio enfocado
                            en el cliente, buscando “conectar” con ellos por medio de una experiencia única siendo
                            ello el valor agregado.</p>
                        <p>La infraestructura es la adecuada, creando un ambiente cálido, de armonía e íntimo</p>
                    </div>
                </div>
            </div>
        </main>
    
{% endblock %}